[/]
show-apps-icon-file=''
window-preview-title-font-color='#dddddd'
animate-show-apps=false
shift-click-action='MINIMIZE'
animate-window-launch=false
trans-use-custom-opacity=true
shift-middle-click-action='LAUNCH'
intellihide=true
panel-size=42
multi-monitors=false
intellihide-close-delay=800
leave-timeout=50
window-preview-animation-time=100
animate-app-switch=false
hotkeys-overlay-combo='TEMPORARILY'
show-activities-button=true
trans-use-custom-bg=true
intellihide-use-pressure=true
window-preview-hide-immediate-click=true
intellihide-pressure-threshold=50
intellihide-animation-time=150
intellihide-show-in-fullscreen=true
trans-panel-opacity=0.80000000000000004
middle-click-action='LAUNCH'
window-preview-aspect-ratio-y=10
peek-mode=false
isolate-workspaces=false
window-preview-size=300
