[/]
animate-show-apps=false
appicon-margin=8
appicon-padding=2
dot-style-focused='METRO'
hotkeys-overlay-combo='TEMPORARILY'
panel-size=36
peek-mode=false
show-activities-button=true
show-appmenu=true
show-window-previews=true
trans-panel-opacity=1.0
trans-use-custom-bg=true
trans-use-custom-opacity=false
window-preview-animation-time=50
window-preview-aspect-ratio-y=10
window-preview-hide-immediate-click=true
window-preview-size=240
window-preview-title-font-color='#dddddd'
